body,
html {
    padding: 0;
    color: black;
    height: 100%;
}
body{
	background-color: #EBEFF7;
}
a {
    color: black;
}
#container {
    height: 100%;
}
@media all and (min-width: 1324px) {
    body #container {
        height: 100%;
        width: 1274px;
        float: right;
    }
    body #content {
        float: right;
        width: 974px;
    }
}
@media all and (max-width: 800px) {
    body #side {
        float: none;
        height: auto;
        width: auto;
        border-left: 0;
        position: relative;
    }
    body #side #myface {
        display: none;
    }
    body #side #myname {
        margin: 0;
        padding: 10px;
        text-align: left;
    }
    body #side #navigation ul {
        height: 50px;
        padding: 0;
        margin: 0;
    }
    body #side #navigation ul li {
        height: 50px;
    }
    body #side #navigation ul li a i {
        font-size: 18px;
    }
    body #content {
        margin-right: 0;
        border-right: 0;
        padding: 25px 20px 20px 20px;
        height: auto;
    }
    body #content h2 {
        margin-left: 0;
    }
    body #content h2::before {
        display: none;
    }
}
#side {
    float: right;
    width: 300px;
    background-color: #526ca1;
    border-left: 10px solid #98aace;
    height: 100%;
    position: fixed;
    right: 0;
    padding: 0;
}
#side #myface {
    margin: auto;
    width: 200px;
    display: block;
    margin-top: 40px;
}
#side #myname {
    color: black;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin: 10px 0 10px 0;
}
#side #myname a {
    text-decoration: none;
    color: black;
}
#side #navigation ul {
    list-style: none;
    padding: 20px 70px 0 70px;
}
#side #navigation ul li {
    display: block;
    text-align: center;
    padding: 5px;
    float: left;
    width: 70px;
    height: 60px;
}
#side #navigation ul li a {
    text-decoration: none;
    color: #b6c5e2;
}
#side #navigation ul li a i {
    font-size: 22px;
}
#side #navigation ul li a:hover {
    color: black;
}
#side hr {
    margin: 10px 0 10px 0;
    border: 1px dotted white;
}
#content {
    margin-right: 300px;
    background-color: rgba(216, 224, 240, 0.85);
    border-right: 10px solid #b6c5e2;
    min-height: 100%;
    padding: 25px 20px 20px 20px;
    /*#breadcrump {
        color: gray;
        margin-bottom: 10px;

        .glyphicon {
            font-size: 12px;
        }

        #currentpage a, #archive a { 
            color: gray;
            text-transform: uppercase;
            font-family: 'Slabo 13px', serif;
        }
    }*/
}
#content #homebutton {
    position: absolute;
    background-color: rgba(216, 224, 240, 0.85);
    padding: 10px;
    text-align: center;
    margin-left: -80px;
    margin-top: -5px;
    width: 40px;
    height: 40px;
}
#content #homebutton a span {
    font-size: 18px;
    color: gray;
}
#content #homebutton a:hover span {
    color: black;
}
#content h1 {
    padding: 0;
    margin: 20px 0 0 0;
    color: black;
    font-family: 'Slabo 13px', serif;
    font-size: 28px;
}
#content h2 {
    padding: 0;
    margin: 20px 0 5px 0;
    color: black;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin-left: -32px;
}
#content h2::before {
    content: "♦";
    padding-right: 15px;
    color: black;
    font-size: 24px;
}
#content h3 {
    padding: 0;
    margin: 20px 0 5px 0;
    color: #00047D;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}
#content .subtitle {
    margin: 0 0 30px 0;
    color: gray;
    font-family: 'Slabo 13px', serif;
}

#content a { 
    color: #00047D; 
	text-decoration: underline;
}
.posts {
    padding: 0px;
}
#content .posts .post {
    background-color: rgba(216, 224, 240, 0.85);
	margin: 15px -5px -5px -5px;
	padding:5px;
	border-radius:5px;
	text-decoration:none;
	
}
#content .posts .post a.contentTitle{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    color: black;
	margin: 10px 0px 0px 0px;
	display: block;
	text-decoration:none;
}

#content .posts .post .contentDate {
	font-family: 'Slabo 13px', serif;
	color:gray;
	font-size:13px;
	font-style: italic;
} 
#content .posts .post .readMore{
	color:black;
	text-decoration:none; 
	
}  
.hljs { min-width:500px; }