---
layout: layout
title: About
comments: false
---

<h2>@Model.Title</h2>
<div class="subtitle">@Model.Page.Date.ToString("d MMM, yyyy")</div>

<p>Hi, i'm Kees</p>

<p>I am an experienced and certified Microsoft Consultant with six years’ experience in developing and integrating enterprise solutions. I'm known for my knowledge of modern technologies and high quality software architecture.</p>

<p>I distinguish myself from other developers with my characteristic enthusiasm and strong communication skills.</p>

<ul>
    <li>Enthusiast, ambitious, independent en communicative
    <li>Senior in .NET Development
    <li>Studied Computer Science at The Hague University
    <li>Enterprise application developer, mostly cloud and web based
    <li>Highly (Microsoft) certified
    <li>Loves his job
</ul>