@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@Include("head.cshtml")
<body>
    <div id="container">
        @Include("side.cshtml")
        <div id="content">
            @Raw(Model.Content)
        </div>
    </div>
    @Include("footer.cshtml")
</body>
</html>