body {
  padding: 0;
  color: black;
}
a {
  color: black;
}
#side {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  background-color: gray;
  height: 100%;
  padding: 10px;
}
#side #myface {
  margin: auto;
  width: 200px;
  display: block;
}
#side #myname {
  color: green;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  margin: 10px 0 10px 0;
}
#side #myname a {
  text-decoration: none;
}
