@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>
<div id="side">
    <a href="/" id="myface" title="Profile Picture Kees Schollaart" alt="Profile Picture Kees Schollaart">
        <img src="/img/kees.jpg" alt="Site Name" />
    </a>
    <h1 id="myname">
        <a href="/">Kees Schollaart</a>
    </h1>
    <div id="navigation">
        <ul>
            <li><a href="/about.html">about</a></li>
            <li><a href="/contact.html">contact</a></li>
            <li><a href="/rss.xml"><img src="/img/25.png" /> feed</a></li>
        </ul>
    </div>

    @*<hr/>*@

</div>