@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>
<div id="side">
    <a href="/" id="myface" title="Profile Picture Kees Schollaart" alt="Profile Picture Kees Schollaart">
        <img src="/img/kees.jpg" alt="Site Name" />
    </a>
    <h1 id="myname">
        <a href="/">Kees Schollaart</a>
    </h1>
    <div id="navigation">
        <ul>
            <li><a href="/about.html" target="_blank"><i class="fa fa-info-circle"></i> about</a></li>
            <li><a href="https://github.com/keesschollaart81" target="_blank"><i class="fa fa-github-square"></i> GitHub</a></li>
            <li><a href="https://nl.linkedin.com/in/keesschollaart" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li> 
            <li><a href="http://www.emailmeform.com/builder/form/6cNG0B3bIfEp232ftoKR2zO7" target="_blank"><i class="fa fa-envelope-square"></i> contact</a></li>
            @*<li><a href="/rss.xml"><img src="/img/25.png" /> feed</a></li>*@
        </ul>
    </div>

    @*<hr/>*@

</div>